---
layout: compress
# Tab layout
---

<!DOCTYPE html>

{% capture prefer_mode %}
  {% if site.theme_mode %}
    mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

<html lang="{{ site.lang | split: "_" | first | default: "en" }}" {{ prefer_mode }}>

  {% include head.html %}

  <body data-spy="scroll" data-target="#toc">

    <div id="sidebar" class="d-flex flex-column">
      {% include sidebar.html %}
    </div>

	{% include topbar.html %}
	
    <div id="main-wrapper">
      <div id="tab-content">

        {% include refactor-content.html content=content %}

        {% include footer.html %}

      </div>

      {% include search-results.html %}

    </div>

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    <div id="mask"></div>

    {% include search-loader.html %}

  </body>

</html>
